body {
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 5vh;
	padding-bottom: 1vh;
	color: black;
	font-size: 25px;
	font-family: Arial;
    /*background: linear-gradient(0deg, #fd5d5d 0%, #f7ff86 100%);
	background: linear-gradient(70deg, rgb(255, 213, 213) 0%, #ffffff 100%);*/
	background: rgb(207, 54, 54);
	/*background-repeat: no-repeat; */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.dark-mode {
	background: rgb(31, 31, 31);
	/*color: white;*/
}

/* Define a class for the button */
.myButton {
	background-color: rgb(255, 199, 44);
	border: 4px solid rgb(255, 199, 44);
	border-radius: 10px; /* smaller value for less rounding */
	color: white;
	padding: 10px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vh;
	cursor: pointer;
	margin-top: 4vh;
}

.myButton:hover {
	/* Added */
	background-color: rgb(255, 206, 72);
	border: 4px solid rgb(255, 206, 72);
}

/* Define a class for the box */
.myBox {
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45%;
	margin: auto;
	background-color: aliceblue;
	border-radius: 10px; /* smaller value for less rounding */
	border: 4px solid rgb(255, 199, 44);
	font-size: 2vh;
}

/* Add some shadow effects to the button and box */
.myButton,
.toggle-container,
.myBox {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Slider Stuff */
.toggle-container {
    position: fixed;
    top: 1vh; /* 2% of viewport height */
	right: 1vw; /* 2% of viewport width */
	display: flex;
	align-items: center;
    background-color: #121212;
    border: 4px solid #121212;
    border-radius: 10px; /* smaller value for less rounding */
}

.toggle-text {
	margin-right: 1vh; /* equal to font size */
	font-size: 3vh;
    color: white;
}

.toggle-switch {
	position: relative;
	display: inline-block;
	/*width: 60px;*/
	width: 6vh;
	/*height: 34px;*/
	height: 3vh;
}

.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

.slider:before {
	position: absolute;
	content: "";
	border-radius: 50%;
	/*height: 26px;*/
	height: 2vh;
	width: 2vh;
	left: 0.5vh;
	bottom: 0.5vh;
	background-color: white;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
input:checked + .slider {
	background-color: #2196f3;
}
input:focus + .slider {
	box-shadow: 0;
}

input:checked + .slider:before {
	-webkit-transform: translateX(3vh);
	-ms-transform: translateX(3vh);
	transform: translateX(3vh);
} /* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.optionscontainer {
	display: flex;
  }

.subcontainer {
	width: 33.33%;
	text-align: center;
    margin: auto;
}

@media (max-aspect-ratio: 1/1) {
  .subcontainer {
    width: 100%;
  }
}

#map {
	width: 100%;
	height: 60vh;
	border: 4px solid rgb(255, 199, 44);
	border-radius: 10px; /* smaller value for less rounding */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    color: white;
    text-align: center;
	font-size: 2vh;
	
}

a {
	color: white;
	text-decoration: none;
}

.twitter-timeline {
    margin: auto;
    width: 90%;
}

/*make dropdowns fit in with button*/
.dropdown{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	padding: 0.5em 0.5em;
	text-align: center;
	line-height: 1.5em;
	white-space: nowrap;
	cursor: pointer;
	border: 0;
	background-color: rgb(255, 199, 44);
	color: white;
	text-decoration: none;
	width: auto;
	max-width: 100%;
	font-size: 3vh;
}

.dropdown:hover{
	background-color: #3e8e41;
}

.routetitle {
	font-weight: bold;
	font-size: 3vh;
	color: white;
}

.routesubtitle {
	font-weight: bold;
	font-size: 2.5vh;
	color: white;
}

.timediv {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: auto;
  }
  
  .typetimediv {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 1vh;
	border: 1px solid white;
  }
  
  input[type=radio] {
	margin-right: 3vh;
  }
  
  input[type=datetime-local] {
	margin-left: 1vh;
  }